.postDetail{
    width: 800px;
    margin: auto;

}
/*.post{*/
/*    width: 800px;*/
/*    margin: auto;*/
/*}*/
.post{

}
.postTop{
    display : flex;
    position: relative;
    /*flex-direction: row;*/
}
.postTopProfile{

}
.postTopProfileImg{
    width: 4.5rem;
    height: 4.5rem;
}

.postTopProfileInfo{
    flex-direction: column;
    display: inline-block;
    margin-left:1rem;

}
.postTopNickname{
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
}

.postTopAddress{
    font-size: 0.8rem;
    color: gray;
}


.postTopReport{
    position: relative;
    display: inline;
    margin-left: auto;
    align-self: auto; /*텍스트를 중앙으로 놓는다*/
    margin-right: 3rem;
    font-size: 0.8rem;
    margin-top: 2.4rem;

}

.postBody{
    margin-top: 1.5rem;
    display: flex;
    position : relative;
    /*padding-bottom: 2rem;*/
    /*height: 26rem;*/
    border-bottom: 1px solid gray;

}
.postImg{

}

.postBodyImg{
    width: 22rem;
    /*height : 23rem;*/
    border-radius: 10px;
}

.postDetailInfo{
    width: 25rem;
    height: 26.5rem;
    /*height : 22rem;*/
    margin-left: 2rem;
    /*margin-right: 1rem;*/
    position: relative;

}

.postDetailInfo .postDetailTitle{
    font-size: 1.8rem;
}

.postDetailInfo .postDetailCategory{
    margin-top: 0.7rem;
    font-size: 1.5rem;
    color: gray;
}

.postDetailInfo .postDetailPrice{
    margin-top: 0.7rem;
    font-size: 1.2rem;
}

.postDetailInfo .postDetailContent{
    margin-top: 0.7rem;
    font-size: 0.85rem;
    /*margin-right: 1.8rem;*/
    /*font-weight: bold;*/
    white-space: pre-wrap;
}

.postDetailInfo .postDetailTag{
    color: blue;
    position: absolute;
    bottom: 0.5rem;
    margin-top: 0.7rem;
    font-size: 1rem;
    right : 0;
}

.categoryandStatus{
    width: 22rem;
    /*height: 38px;*/
    position : absolute;
    bottom: 0rem;
    display : flex;
    justify-content: space-between;
}

.tradeStatusDiv{

}

.tradeStatus{
    font-size: 1.1rem;
    margin-bottom: 0.2rem;
}

.postDetailSwapCategoryBox{
    padding: 0.3rem;
    display: flex;

}
.transfer{
    width: 2rem;
    height: 2rem;

}
.postDetailSwapCategory{
    margin-left:0.4rem;
    font-size: 1.2rem;
}

.tradeAndTalk{
    display: flex;
}

.postBottom{
    display: flex;
    justify-content: space-between;
    position : relative;
}
.metaBox{
    margin-top:0.5rem;
    display: flex;
    gap: 1rem;
}
.imgBox{
    display: flex;
    gap:0.2rem;
}
.likeImg{
    width:1rem;
    height: 1rem;
    margin-top: 0.3rem;
    margin-right: 0.2rem;
}
.commentBox{
    display: flex;
    gap:0.2rem;
}
.commentImg{
    width:1rem;
    height: 1rem;
    margin-top: 0.3rem;
    margin-right: 0.2rem;

}
.timeBox{
    gap:0.2rem;
    display: flex;
}
.timeImg{
    width:1rem;
    height: 1rem;
    margin-top: 0.3rem;
    margin-right: 0.2rem;
}
.exchangeBtn{
    margin-top: 0.4rem;
    border: none;
    border-radius: 10px;
    height:2rem;
}

.comments{
    border: 1px #e5e8eb solid ;
    border-radius: 10px;
    margin-top: 3rem;

}

.writeComments{
    display: flex;
}

.writeCommentsInput{
    margin: 0;
    padding: 10px 85px 10px 10px;
    border: 0;
    width: 100%;
    height: 40px;
    line-height: 20px;
    box-sizing: border-box;
    color: #262626;
    font-size: 13px;
    overflow: hidden;
    resize: none;
    background-color: #F8F8F8;
    width:100%
}

.pencilIcon{
    background-color: #F8F8F8;
    height: 40px;
    font-size: 25px;
}

.moreDot{
    position: absolute;
    top: 10%;
    right: 0;
    font-size: 2.5rem;
}


.ProfileActionList {
    position: absolute;
    top: 20%;
    right: 0;
    list-style: none;
    color: gray;
}

.ProfileActionList li {
    float: left;
    font-size: 0.7rem;
    margin-right: 0.3rem;

}