.post{
    width: 800px;
    margin: auto;
    border: #17191D 1px solid;
}

.postTop{
    display : flex;
    flex-direction: row;
}

.postTopProfileImg{
    width: 4rem;
    height: 4rem;
}

.postTopProfileInfo{
    flex-direction: column;
    display: inline-block;

}

.postTopNickname{
    font-size: 1rem;
    font-width: 700;

}

.postTopAddress{
    font-size: 0.5rem;
}


.postTopReport{
    position: relative;
    display: inline;
    margin-left: auto;
    align-self: center; /*텍스트를 중앙으로 놓는다*/
    margin-right: 3rem;
    font-size: 0.8rem;
}

.postBody{
    display: flex;
    /*flex-direction: row;*/
}

.postBodyImg{
    width: 22rem;
    height : 22rem;
}

.postDetail{
    margin-left: 2rem;
    margin-right: 1rem;
    flex-direction: column;
}

.postDetail .postDetailTitle{
    font-size: 1.5rem;
}

.postDetail .postDetailCategory{
    font-size: 1.2rem;
    color: gray;
}

.postDetail .postDetailPrice{
    font-size: 1.2rem;
}