
  .btnBlack {
    background-color: #17191D;
    color: white;
    width: 28.75rem;
    text-align: center;
    height: 3rem;
  }


  .btnWhite {
    background-color: white;
    width: 28.75rem;
    text-align: center;
    height: 3rem;
  }
