.defaultButton{
  padding: 6px;
  margin: 15px 6px 6px 6px;
  background-color: white;
}

  .btnBlack {
    background-color: #17191D;
    color: white;
    width: 28.75rem;
    text-align: center;
    height: 3rem;
  }


  .btnWhite {
    background-color: white;
    width: 28.75rem;
    text-align: center;
    height: 3rem;
  }

  .white{
    background-color: white;
  }

  .btnLightBlue{
    box-shadow: 0px 5px 0px 0px #1E8185;
    font-size:1.3rem !important;
    font-weight: 700;
    line-height: 1.3rem;
    color: #222;
    background: #5DC8CD;
    display: block;
    position: relative;
    float: left;
    padding: 1.5rem;
    text-align: center;
    color: #FFF;
    border-radius: 15px;
    transition: all 0.2s ;
    border: none;
  }

  .hoverLightBlueEnable{

    &:hover{
      box-shadow: 0px 0px 0px 0px #1E8185;
    }

  }

  .small{
    line-height: 0.5rem;
    font-size: 0.8rem !important;
    padding: 0.8rem;
  }

  .red{
    background-color: red;
  }




  /* 3D */
  .btnBlueGreen.btnPush {
    box-shadow: 0px 5px 0px 0px #007144;
  }

  .btnLightBlue.btnPush {
    box-shadow: 0px 5px 0px 0px #1E8185;
  }

  .btnOrange.btnPush {
    box-shadow: 0px 5px 0px 0px #A66615;
  }

  .btnPurple.btnPush {
    box-shadow: 0px 5px 0px 0px #6D184B;
  }

  .btnPush:hover {
    margin-top: 15px;
    margin-bottom: 5px;
  }

  .btnBlueGreen.btnPush:hover {
    box-shadow: 0px 0px 0px 0px #007144;
  }

  .btnLightBlue.btnPush:hover {
    box-shadow: 0px 0px 0px 0px #1E8185;
  }

  .btnOrange.btnPush:hover {
    box-shadow: 0px 0px 0px 0px #A66615;
  }

  .btnPurple.btnPush:hover {
    box-shadow: 0px 0px 0px 0px #6D184B;
  }