.swiper-slide{
  font-size: 2rem;
}

.swiper-container
{
  height: 22rem;
  width : 22rem
}

.image{
  height: 22rem;
  width : 22rem
}

//.swiper-pagination-bullet {
//  background: red !important;
//}
//.swiper-pagination-bullet-active {
//  background: yellow !important;
//}

@import 'swiper/swiper.scss';
@import 'swiper/components/navigation/navigation.scss';
@import 'swiper/components/pagination/pagination.scss';