.talkContent{


}

.talkPartner{

}
.date{

}
.talkBtn{
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: 0.5px solid rgba(200, 200, 200);
  width: 100%;
  background-color: transparent;
  height: 4rem;
}
.box1{
  height: 2rem;
  display: flex;
  justify-content: space-between;
}
.box1_1{
  height: 1.4rem;
  margin-top: 0.5rem;
}
.box1_2{
  height: 2rem;
  margin-top: 0.5rem;
}
.talkPartner{
  height: 1.4rem;
  margin-bottom: 0;

}
.lastContent{
  text-align: left;
  color: gray;
  font-size: 0.9rem;
}
.date{
  font-size: 0.8rem;
}
.talkPartner{
  font-weight: bold;
}
.sendTitle{
  font-size: 0.8rem;
  font-weight: bold;
  color: #f7ce4d;
  margin-left: 1rem;

}
.sendContent{
  font-weight: bolder;
  margin-left: 1rem;
  margin-bottom: 0rem;
  padding-bottom: 0.5rem;
  font-size: 0.9rem;

}
.receiveContent{
  font-weight: bolder;
  margin-left: 1rem;
  margin-bottom: 0rem;
  padding-bottom: 0.5rem;
  font-size: 0.9rem;


}
.receiveTitle{
  margin-left: 1rem;
  font-size: 0.8rem;
  font-weight: bolder;
  color: #4ba2ad;
}
.send{
  border-bottom: 0.5px solid rgba(200, 200, 200);
}
.receive{
  border-bottom: 0.5px solid rgba(200, 200, 200);
}


.talkcard{

}
.cardImage{
  border-radius: 10px;
  height: 5rem;
  width: 5rem;
  margin: 1rem;
}


.tradeState{
  height: 1rem;
  font-size: 0.9rem;
  font-weight: bold;
}
.cardTitle{
  height: 1rem;
  font-size: 0.9rem;
  margin-right: 0.5rem;

}
.tradeBox{
  height: 1rem;
  display: flex;
}
.tradeimoticon{
  width: 1.4rem;
  height: 1.4rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}
.cardCategory{
  font-size: 0.9rem;
}
.productInfo{
  height: 5rem;
  gap: 0;
  margin: auto;
}
.timeBox{
  display: flex;
  justify-content: space-between;
}
.timeX{
  margin-right: 1rem;
  font-size: 0.7rem;
  color: gray;

}