
$tag-bg                  : #E67A9A;
$tag-text-color          : #FFF;
$placeholder-color : gray;

//$tags-border-color       : #DDD !default;
//$tags-hover-border-color : #CCC !default;
//$tags-focus-border-color : #3595f6 !default;
//$tagMargin               : 5px !default;
//$tag-pad                 : .3em .5em !default;
//$tag-min-width           : 1ch !default;
//$tag-max-width           : auto !default;
//$tag-text-color          : black !default;
//$tag-text-color--edit    : black !default;
//$tag-bg                  : #E5E5E5 !default;
//$tag-hover               : #D3E2E2 !default;
//$tag-remove              : #D39494 !default;
//$tag-remove-btn-color    : $tag-text-color !default;
//$tag-remove-btn-bg       : none !default;
//$tag-remove-btn-bg--hover: darken($tag-remove, 8) !default;
//$tag-invalid-color       : $tag-remove !default;
//$tag-invalid-bg          : rgba($tag-remove, .5) !default;
//$tag-inset-shadow-size   : 1.1em !default;
//$tag-hide-transition     : .3s !default;
//$placeholder-color       : rgba($tag-text-color, .4) !default;
//$placeholder-color-focus : rgba($tag-text-color, .25) !default;
//$input-color             : inherit !default;
//$tagify-dd-bg-color      : white !default;
//$tagify-dd-color-primary : rgb(53,149,246) !default;


@import "@yaireo/tagify/src/tagify.scss";

