.EmailCheckAllContent {
    width: 460px;
    margin: auto; /* content를 중앙으로 보낸다*/
}

.header {
    padding-top: 8rem;
    margin-bottom: 1.7rem
}


/*header 안에 있는 h1 (코끼리로 물물교환 시작하기)*/
.header h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
;
}

/*간편하게 가입하고 우리동네 물건들을 확인하세요*/
.header h2 {
    margin-top: 0.7rem;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
}

.contents {

}

.passwordInput {
    border:none;
    width: 100%;
    border-bottom: 2px solid black;
    height: 4rem;
    padding: 1rem 0.7rem;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.red{
    border-bottom: 2px solid red;
}

.btnLogin{
    background-color: #17191D;
    color: white;
    width: 100%;
    text-align: center;
    height: 3rem;
}
