.MyPage{
    padding-top: 0rem;
    width : 700px;
    height: 1000px;
    text-align: left;
    /*border: 1px solid red;*/
    margin : auto; /*가운데 정렬*/
}
.profile{
    padding-top: 0rem;
    gap: 8rem;
    display: flex;
    /*margin-left: 0rem;*/
    justify-content: center;

}
.profileImage{
    border: none;

}
.Image{
    margin-top: 2rem;
    height: 170px;
    width: 170px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);

    /*border: 2px solid rgba(0, 0, 0, 1);*/
    /*창 크기에 영향X*/
}
.userInfo{
    margin-top: 3rem;
    height: 10rem;
    display: grid;
    gap: 10px;



}
.wheelBox{
    display: flex;
    gap: 2.3rem;
}
.wheelBox2{
    margin-top: -0.1rem;
    display: flex;
    background-color: white;
    border: none;
    gap: 0.4rem;
}
.setting{
    margin-top: 0.05rem;
    height: 1.5rem;
    border:none;
    background-color: white;
    /*color: gray;*/
    font-size: 0.9rem;
}
.nickName{
    border: none;
    font-weight: bold;
}
.wheel{
    width: 1rem;
    height: 1rem;
    margin-top: 0.25rem;
}
.intro{
    margin-left: -0.18rem;
    /*border-left:none;*/
    /*border-right:none;*/
    /*border-top:none;*/
    /*border: none;*/
    border-radius: 10px;
    border: 2px solid rgba(150, 150, 150, 0.2);
}
.intro2{
    display: flex;
    justify-content: left;
    gap: 1.5rem;
}
.i1{
    display: flex;
    font-weight: bold;
    margin-bottom: -1.2rem;
}
.i2{
    margin-top: 0rem;
    font-weight: bold;
}
.postNum{
    margin-left: 0.5rem;
}
.tradeNum{
    margin-left: 0.5rem;
}

.menu{
    margin-top: 2rem;
    border-top: 2px solid rgba(150, 150, 150, 0.2);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 43rem;
    justify-content: center;
}
.post{
    border-left:none;
    border-right:none;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    background-color: transparent;
    font-size: 0.9rem;
    font-weight: bolder;
    border-top: 2px solid rgba(0, 0, 0, 1);

}
.postactive {
    border: none;
    font-size: 0.9rem;
    background: transparent;
    font-weight: bolder;

}
.zzim{
    border-left:none;
    border-right:none;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    background-color: transparent;
    font-size: 0.9rem;
    font-weight: bolder;
    border-top: 2px solid rgba(0, 0, 0, 1);

}
.zzimactive {
    border: none;
    font-size: 0.9rem;
    background: transparent;
    font-weight: bolder;

}
.container{
    margin-top: 2rem;
    grid-template-columns: repeat(3,1fr);
    border-radius: 10px;
    gap: 1rem;
    display: grid;
}
.gpsBox{
    border-radius: 5px;
    border: none;
}
.nickChangeBtn{
    border-radius: 5px;
    border: none;
}