.primary {
  border : 1px #e5e8eb solid ;
  margin-top: 0.2rem;
  border-radius: 10px;

  .Profile {
    display: flex;
    padding-top: 0.3rem;
    margin-left: 0.3rem;
  }

  .ProfileImg {
    width: 2rem;
    height: 2rem;
  }

  .ProfileInfo {

    display: inline-block;
    font-size: 0.8rem;
    font-width: 700;
    margin-left: 0.3rem;
    vertical-align: center;

  }

  .ProfileActionList {

    margin-left: auto;
    list-style: none;
  }

  .ProfileActionList li {
    float: left;
    font-size: 0.5rem;
    margin-right: 0.5rem;

  }

  .comments {
    margin-left: 0.3rem;
    margin-top: 0.3rem;
    font-size: 0.8rem;
  }

  .time {
    padding-left: 0.3rem;
    padding-bottom: 0.3rem;
    margin-top: 0.3rem;
    font-size: 0.5rem;
  }

  .writeComments{
    margin-right: 0.8rem;
    margin-left: 3rem;
    border : 1px #e5e8eb solid ;
    margin-top: 0.8rem;
    border-radius: 10px;
    display: flex;
  }

  .writeCommentsInput{
    margin: 0;
    padding: 10px 85px 10px 10px;
    border: 0;
    width: 100%;
    height: 40px;
    line-height: 20px;
    box-sizing: border-box;
    color: #262626;
    font-size: 13px;
    overflow: hidden;
    resize: none;
    background-color: #F8F8F8;
    width:100%
  }

  .pencilIcon{
    background-color: #F8F8F8;
    height: 40px;
    font-size: 25px;
  }

}

.secondary {
  //margin-right: 0.8rem;
  margin-left: 3rem;
  border : 1px #e5e8eb solid ;
  margin-top: 0.2rem;
  border-radius: 10px;


  .Profile {
    display: flex;
  }

  .ProfileImg {
    width: 2rem;
    height: 2rem;
    margin-left:0.3rem;
    margin-top: 0.3rem;
  }

  .ProfileInfo {
    display: inline-block;
    font-size: 0.8rem;
    font-width: 700;
    margin-left: 0.3rem;
    margin-top: 0.2rem;
    vertical-align: center;

  }

  .ProfileActionList {
    margin-left: auto;
    list-style: none;
  }

  .ProfileActionList li {
    float: left;
    margin-top: 0.3rem;
    margin-right: 0.5rem;
    font-size: 0.5rem;
  }

  .comments {
    margin-left: 0.3rem;
    margin-top: 0.3rem;
    font-size: 0.8rem;
  }

  .time {
    margin: 0.3rem;
    font-size: 0.5rem;

  }
}