.navBarBar{
    width: 100%;
    height: 3.5rem;
    position: fixed;
    background-color: white;
    z-index: 999;
}

.meauto{
    height: 100%;
    width: 100%;
}
.navBar {
    margin: auto;
    width: 100%;
    height: 3.5rem;
    border-bottom : 1px solid lightgray;
}
.logoBox{
    display: flex;
    gap: 0.3rem;
    height: 100%;
    width: 14rem;
    justify-content: right;
}
.homeLogo {
    /*margin-left : 3rem;*/
    width: 2rem;
    height: 2rem;
    cursor: pointer;

}
.logoText {
    margin-top: 0.3rem;
    height: 100%;
    width: 5rem;
    font-weight: 400;
    font-size: 1.5rem;
    cursor: pointer;

}

.menu1{
    display: flex;
    justify-content: space-evenly;
    width: 20rem;
}

.mulBtn{
    height: 100%;
    width: 5.3rem;
    font-size: 1.2rem !important;
    /*margin : 0 0.5rem 0.5rem 4rem;*/
    margin : 0 0.5rem 0.5rem 0;

}
.kiriBtn{
    height: 100%;
    font-size : 1.2rem !important;
    /*margin : 0 0.5rem 0.5rem 1rem;*/
    margin : 0 0.5rem 0.5rem 0;

}
.searchBox{
    display: flex;
    height: 100%;
    margin : 0 0 0.5rem 0;
    /*margin : 0 0 0.5rem 5rem;*/
}
.search{
    border: none;
    margin-left: 0.3rem;
    padding : 0.3rem;
    background-color: white;
    width: 2rem;
    height : 100%;
}
.right{
    display: flex;
    width: 28rem;
    gap: 3rem;
    justify-content: right;
    /*border: 1px solid red;*/

}
.loginAndImage{
    height: 100%;
    display : flex;
    /*float : right;*/
    /*margin : 0.5rem 0rem 0.5rem 0rem;*/
}

.talkDiv{
    display : flex;
    /*right : 3rem;*/
}
.signBtn{
    height: 100%;
    display: inline-block;
    padding: 0.5rem;
    margin : 0 0 0.5rem 0;
    font-size: 1.2rem;
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.signBtn2{
    height: 100%;
    display: inline-block;
    padding: 0.5rem;
    margin : 0 0 0.5rem 0;
    font-size: 1.2rem;
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;

}
.signBtn3{
    border-radius: 10px;
    height: 40px;
    background-color: lightgray;
    border-color: transparent;

}
.searchAndSign{
    display: flex;
}

.searchIcon{
    width : 1.5rem;
    height : 1.5rem;
}
.mypageI{

    font-size: 1.2rem;
    width: 2rem;
    height: 2rem;
    margin-top : 0.25rem;
    /*margin-left: 10rem;*/
}
.mypageI2{

    font-size: 1.2rem;
    width: 2rem;
    height: 2rem;
    margin : 0.3rem 0 0.5rem 0;
}

.customLook{
    margin : 0 0 0.5rem 0;

    width : 28vw;
    height: 100%;
    border-radius: 5px;
    overflow: auto !important;
    flex-wrap: unset !important;
    font-size: 1rem;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    text-overflow: ellipsis;
}


.customLook::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.tagDiv{
    display: flex;
    /*margin-left: 5rem;*/

}

.navbar__toggle-btn {
    position: absolute;
    right: 32px;
    top: 24px;
    font-size: 24px;
    display: none;
}
@media screen and (max-width: 768px) {
    .navbar__toggle-btn {
        display: block;
    }

    #navbar {
        /* logo와 gnb 수직배열 */
        flex-direction: column;
        /* logo 제자리로 돌리기 */
        align-items: flex-start;
    }

    .navbar__menu {
        /* gnb menu 수직배열 */
        flex-direction: column;
        /* 텍스트 화면전체 너비의 중앙배열  */
        width: 100%;
        text-align: center;
        display: none;
    }

    .navbar__menu.open {
        display: block;
    }
}

