.navBarBar{
    width: 100%;
    height: 72px;
    position: fixed;
    background-color: white;
    z-index: 999;
    border-bottom-color: #e5e8eb;
}

.meauto{
    position: relative;
    width: 100%;
}
.navBar {
    border-bottom : 1px solid lightgray;
    width: 100%;
    height: 3.5rem;

}
.logoBox{
    display: flex;
    gap: 0.3rem;
}
.homeLogo {
    /*border: 1px solid red;*/
    margin-left : 3rem;
    width: 2rem;
    height: 2rem;
    margin-top: 1.1rem;

}
.logoText {
    width: 5rem;
    font-weight: 400;
    margin-top: 1.4rem;
    font-size: 1.5rem;
}

.mulBtn{
    /*border: 1px solid red;*/
    font-size: 1.2rem !important;
    margin : 0.8rem 0.5rem 0.5rem 4rem;
}
.kiriBtn{
    font-size : 1.2rem !important;
    margin : 0.8rem 0.5rem 0.5rem 1rem;
}
.searchBox{
    display: flex;
    margin : 0.8rem 0 0.5rem 5rem;
    /*border: 1px solid red;*/
}
.search{
    margin-top: 1rem;
    margin-left: 0.3rem;
    padding : 0.3rem;
    border: none;
    background-color: white;
    width: 2rem;
    height : 2rem;
}

.loginAndImage{
    position: absolute;
    display : flex;
    right: 15rem;
    float : right;
    /*margin : 0.5rem 0rem 0.5rem 0rem;*/
}

.talkDiv{
    display : flex;
    position: absolute;
    right : 3rem;
}
.signBtn{

    display: inline-block;
    padding: 0.5rem;
    margin : 0.9rem 0 0.5rem 0;
    font-size: 1.2rem;
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.signBtn2{
    display: inline-block;
    padding: 0.5rem;
    margin : 0.9rem 0 0.5rem 0;
    font-size: 1.2rem;
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;

}
.signBtn3{
    border-radius: 10px;
    height: 40px;

    background-color: lightgray;
    border-color: transparent;

}
.searchAndSign{
    display: flex;
}

.searchIcon{
    width : 1.5rem;
    height : 1.5rem;
}
.mypageI{
    font-size: 1.2rem;
    width: 2rem;
    height: 2rem;
    margin : 1rem 0rem 0.5rem 0rem;
}

.customLook{
    margin : 1rem 0 0.5rem 0;
    width : 25rem;
    height: 2.2rem;
    border-radius: 5px;
    overflow: auto !important;
    flex-wrap: unset !important;
    font-size: 1rem;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    text-overflow: ellipsis;
}


.customLook::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.tagDiv{
    display: flex;
    margin-left: 5rem;
}

