
.postContainer{
    height: 60%;
    width: 94.6%;
    margin: auto;
    border-radius: 10px;
    border: 0.5px solid red;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 7%;
}
.postImage{
    border: 0.5px solid rgba(255,0,0,5);
    margin-left: 0rem;
    border-radius: 10px;

}
.postItem{

}