
.postContainer{
    /*width: 1200px;*/
    border-radius: 10px;
    /*border: 0.5px solid red;*/
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 4rem;
}

.loadingDiv{
    margin-top: 2rem;
}
.imageDiv{
    margin-top : 3.2rem;

    display: flex;
    font-size: 3rem;
    /*width : 1100px;*/
    height : 130px;
    justify-content: center;
}

.img{
    display: inline-block;
    text-align: center;
    cursor: pointer;
}


