
.priceBox {
    margin-top: 2rem;
    display: flex; /*내용물 가로 정렬*/
    flex-direction: row;
    /*border: 0.5px solid red;*/
}
.priceList {

    /*border: 0.5px solid red;*/

}
.priceI{
    padding: 6px;
    margin: 15px 6px 6px 6px;
}
.priceSet {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 30%;
    /*border: 0.5px solid red;*/
    align-items: center;
    /*flex로 가로정렬 후 space-evenly로 가로 위치 잡고 alogn-items로 세로 가운데에 위치*/
}
.setBox1{
    background-color: lightgray;
    border-radius: 10px;
    border: none;
    height: 1.5rem;
    /*height: 30%;*/
}
.setBox2{
    background-color: lightgray;
    border-radius: 10px;
    height: 1.5rem;
    border: none;

    /*height: 30%;*/
}