.mulmulTrade {
    /*margin-top: 7rem;*/
    width : 100%;
    height: 2000px;
    text-align: center;
    /*border: 1px solid red;*/
    display: block;
    font-size: 0.75rem;

}
.mulmulTradeContent {
    width : 1200px;
    height: 100%;
    text-align: center;
    /*border: 1px solid red;*/
    margin : auto; /*가운데 정렬*/
}
.categoryBox {
    display: block; /*내용물 세로 정렬*/
    /*border: 1px solid red;*/
    width: 100%;
    height : 20%; /*320px*/
}
.forWho{
    display: flex;
    flex-direction: row;
    align-items: center;
    /*border: 0.5px solid red;*/
    width: 100%;
    height : 20%; /*64px*/
}
.forWho_1 {
    /*width: 50%;*/
    margin-left: 1rem;
}
.forWho_2 {
    /*width: 50%;*/
    margin-left: 1rem;

}
.postOrWant{
    width: 100%;
    height: 3rem;
}
postOrWant_2{
    width: 40%;

}
.won {
    height: 30%;
}
.navPostOrWant{
    /*border: 0.5px solid red;*/
    padding-top: 0.5rem;
    margin-left: 2rem;
    font-size: 2rem;
    height: 3rem;
    text-align: left;
}
.popularOrNewest{
    display: flex;
    flex-direction: row;
    /*justify-content: space-evenly;*/
    /*width: 10%;*/
    /*border: 0.5px solid red;*/
    align-items: center;
    height: 3rem;
    margin: 2rem;
}
.pupularBtn{

}
.newsetBtn{

}
.slash{
    padding-left: 1rem;
    padding-right: 1rem;
}

.buttonMargin{
    margin-right: 1rem;
}