.category {
    border-radius: 10px;
    border: 1px solid rgba(200, 200, 200);
    width: 1200px;
    height :10rem; /*192px*/
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3,1fr);
    background-color: lightgray;
    gap: 0px;
}
.itemC {
    /*border: 0.5px solid rgba(255,0,0,5);*/
    /*height: 30%;*/
    /*width: 100px;*/
    /*margin-left: 10px;*/
    border: none;
    background-color: transparent;
    text-align: left;
    margin-left: 0.6rem;
    font-weight: bolder;
    font-size: 1rem;
}