.priceBtn {
    background-color: var(--primary-color);
    border: none;
    margin-right: 0.5rem;
    height: 1.8rem;
    border-radius: 10px;
    color: #FFF;

}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}